files:
  "/etc/httpd/conf.d/httpd_redirect.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      RewriteEngine On
      RewriteCond %{HTTP:X-Forwarded-Proto} !https
      RewriteRule . https://%{SERVER_NAME}$1 [L,R=301]

commands:
  00_setup_permissions:
    command: |
      hostname tpv-mgmt
      mkdir -p /var/app/current/public/tmp
      chmod -R 777 /var/app/current/public/tmp