files:
  "/home/ec2-user/site24x7.sh" :
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/bin/sh
      echo "Killing zpdp process."
      sudo killall zpdp
      if [ ! -d "/opt/zpa" ]; then
        echo "Setting up site24x7 agent."
        cd /opt
        wget -q https://staticdownloads.site24x7.com/apminsight/agents/agent_php.zip
        /usr/bin/unzip -qq agent_php.zip
        cd /opt/zpa/bin
        sed -i 's/PHP-Application/tpv-mgmt/g' /opt/zpa/conf/apminsight.conf
        sudo sh configure.sh us_69aea432dc3e46f34aff1ffa3f012de6
        sudo service httpd restart
        rm -rf /opt/agent_php.zip
      fi
      echo "Starting zpdp process."
      cd /opt/zpa/bin
      sh run.sh start
# commands:
#   site24x7:
#     command: /home/ec2-user/site24x7.sh
#     ignoreErrors: true
