files:
  "/home/ec2-user/logdna.sh" :
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/bin/sh
      echo "[logdna]
      name=LogDNA packages
      baseurl=http://repo.logdna.com/el6/
      enabled=1
      gpgcheck=0" | tee /etc/yum.repos.d/logdna.repo
      yum -y install logdna-agent
      logdna-agent -k 348bc7547f5e0bda1b0e2348f0b4eaf4
      # The LogDNA agent recursively monitors the /var/log directory by default
      # To optionally specify additional directories, modify and uncomment the line below:
      logdna-agent -d /var/www/html/storage/logs/*.log
      logdna-agent -t tpv-mgmt
      chkconfig logdna-agent on
      service logdna-agent restart
commands:
  logdna:
    command: "/home/ec2-user/logdna.sh"