files:
  "/home/ec2-user/libreoffice.sh" :
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/bin/sh
      if [ ! -L /usr/local/bin/soffice ]; then
        cd /tmp
        wget https://tpv-assets.s3.amazonaws.com/downloads/LibreOffice_6.4.3_Linux_x86-64_rpm.tar.gz
        tar -xvf LibreOffice_6.4.3_Linux_x86-64_rpm.tar.gz
        cd LibreOffice_6.4.3.2_Linux_x86-64_rpm/RPMS
        yum localinstall *.rpm --skip-broken -y
        yum install cairo -y
        yum install cups -y
        ln -s /opt/libreoffice6.4/program/soffice /usr/local/bin/soffice
      fi
commands:
  libreoffice:
    command: "/home/ec2-user/libreoffice.sh"
