files:
  "/home/ec2-user/pdftk.sh" :
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/bin/sh
      if [ ! -L /usr/bin/pdftk ]; then
        cd /tmp
        wget -O /usr/lib64/libgcj.so.10 https://github.com/lob/lambda-pdftk-example/raw/master/bin/libgcj.so.10
        wget -O /usr/bin/pdftk https://github.com/lob/lambda-pdftk-example/raw/master/bin/pdftk
        chmod a+x /usr/bin/pdftk
      fi
commands:
  pdftk:
    command: "/home/ec2-user/pdftk.sh"
